@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 210 40% 98%;
    --card: 0 0% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 2%;
    --popover-foreground: 210 40% 98%;
    --primary: 27 88% 50%; /* #E87811 */
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 69%;
    --accent: 196 78% 51%; /* #29ABE2 */
    --accent_dark: 196 78% 41%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 12%;
    --ring: 27 88% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 210 40% 98%;
    --card: 0 0% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 2%;
    --popover-foreground: 210 40% 98%;
    --primary: 27 88% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 69%;
    --accent: 196 78% 51%;
    --accent_dark: 196 78% 41%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 12%;
    --ring: 27 88% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .service-icon-bg {
    background-image: radial-gradient(ellipse at center, hsl(var(--primary)), hsl(var(--accent_dark)));
  }
}

@layer utilities {
    @keyframes orbit {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
